POSTGRES_DB=charm
POSTGRES_USER=charm
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

SPRING_PROFILES_ACTIVE=docker

APP_DATASOURCE_URL=jdbc:postgresql://postgres:5432/charm
APP_DATASOURCE_USERNAME=charm
APP_DATASOURCE_PASSWORD=change-me
APP_PORT=8080

APP_REDIS_HOST=redis
APP_REDIS_PORT=6379
REDIS_PORT=6379

APP_CONTENT_BASE_PATH=/app/content
